@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --nav-dark: #1b1b1b;
  --nav-primary: #1d7f1a;
  /* --nav-light: #f0e6e6; */
  --nav-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Poppins", Montserrat, sans-serif;
  background-color: white;
  display: flex;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

button,
select,
input {
  font: inherit;
}

aside {
  flex: 1 1 0;
  max-width: 65px;
  background-color: var(--nav-primary);
  color: var(--nav-light);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

aside a {
  text-decoration: none;
}

.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  text-decoration: none;
  align-items: center;

  text-decoration: none;
  background-color: var(--nav-light);
  /* background-color: white; */
  color: var(--nav-primary);
  padding: 10px;
  border-bottom: 4px solid #555;
}

.logo img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: contain;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav__link {
  position: relative;
  color: var(--nav-light);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  padding: 10px 0;
  text-decoration: none;
}

.fas,
.far {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav__span {
  position: relative;
  right: 12px;
  margin-left: 10px;
}

.nav__link:hover {
  background-color: #eee;
  background-color: white;
  color: var(--nav-primary);
  text-decoration: none;
}

aside:hover {
  max-width: 250px;
}

.logout {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.main {
  flex: 1 1 0;
  padding-top: 2rem;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: var(--nav-primary, #b41b1b);
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 0.125rem);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
  transform-origin: initial;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  aside:hover {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 8rem;
  }

  .menu-toggle {
    display: block;
  }

  aside {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    max-width: 200px;
    transition: 0.2s linear;
    z-index: 10;
  }

  aside.is-active {
    left: 0;
  }

  aside:hover {
    max-width: 200px;
  }

  .main section {
    margin-inline: auto;
  }
}

/* The Rest */
.main section {
  padding-inline: 2rem;
}

.container {
  width: min(85%, 1000px);
  margin-inline: auto;
}

section.admin-section {
  min-height: 100vh;
}

section.admin-section:not(.intro) {
  display: none;
}

.intro__col {
  padding: 0.3rem 1rem;
  border-left: 4px solid var(--nav-primary);
  margin: 1rem;
  width: min(100%, 250px);
  border-radius: 5px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.intro__text {
  font-size: 1.25rem;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.intro__col--title {
  color: var(--nav-light);
  background-color: var(--nav-primary);
  padding: 0.5rem 1rem;
  width: 70%;
  margin: 0.5rem 0;
  font-size: 1.2rem;

  display: grid;
  place-content: center;
}

.intro__col--content {
  margin-bottom: 1rem;
}

.intro__col--content .num {
  font-size: 1.5rem;
}

.intro__col--link {
  display: block;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  color: var(--nav-primary);
}

.intro__col--link:hover {
  text-decoration: underline;
}

.admin__table {
  width: min(100%, 750px);
  margin-inline: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.admin__table thead tr {
  font-size: 1.1rem;
}

.admin__table th {
  border-right: 1px solid white;
  text-align: center;
  background-color: var(--nav-black, #1b1b1b);
  color: var(--nav-white, #f0e6e6);
  padding-block: 0.2rem;
}

.admin__table td {
  border-right: 1px solid #222;
  text-align: center;
  padding-block: 0.2rem;
}

.admin__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin__table tr:hover {
  background-color: #ddd;
}

.admin__table tbody {
  display: block;
  max-height: 200px;
  scrollbar-width: none;
  overflow-y: scroll;
}

tbody.admin__table--long {
  max-height: 400px;
}

.admin__table,
.admin__table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.admin__btn--edit {
  border: none;
  outline: none;
  padding: 5px 10px;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
}

.admin__btn--edit:hover,
.admin__btn--edit:focus {
  background-color: #1967b6;
}

/* Messages */

.admin__msg {
  margin: 1.2rem auto;
  font-size: 1.1rem;
}

.admin__title--games {
  font-size: 1.2rem;
  margin: 1em auto;
  font-weight: 700;
}

.admin__title {
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

/* Form */
.form__container {
  margin: 1.25rem 0 0.75rem;
  width: min(100%, 400px);
}

.form__box {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 50px;
  position: relative;
}

.form__label {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--nav-black, black);
  text-transform: capitalize;
  font-size: 1rem;
  transition: top 0.3s;
  padding: 0 5px;
  cursor: text;
}

.form__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 0.625rem;
  outline: none;
  padding: 0.625rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -12px;
  background-color: white;
  font-size: 0.9rem;
}

.form__btn--group {
  display: flex;
  justify-content: space-between;
}

.form__btn {
  border: 1px solid var(--nav-primary);
  outline: none;
  padding: 4px 8px;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.form__btn--submit {
  background-color: var(--nav-primary);
}

.form__btn--submit:hover,
.form__btn--submit:focus {
  background-color: #135511;
}

.form__btn--cancel {
  background-color: #e41717;
  border-color: #e41717;
}

.form__btn--cancel:hover,
.form__btn--cancel:focus {
  border-color: #701010;
  background-color: #701010;
}

/* Payments */
#payment .admin__table tfoot td {
  padding-block: 0.5em;
  background-color: #000;
  color: white;
  border-top: 1px solid var(--nav-dark);
}

#payment .admin__table tfoot td.has-info {
  color: var(--nav-dark);
  background-color: white;
  font-weight: 700;
}

/* Analytics */
.analytics .form__btn--group {
  width: min(100%, 300px);
}

.admin-chart:not(#chart_cash) {
  display: none;
}
