/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hero {
  margin-block: 3rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.5rem;
}

.hero__text {
  font-size: 1.2rem;
}

.hero__btn {
  border: 1px solid var(--nav-primary);
  outline: none;
  border-radius: 4px;
  padding: 7px 15px;
  background-color: var(--nav-primary);
  transition: all 0.3s;
  color: var(--nav-light);
  margin-top: 1rem;
}

.hero__link {
  text-decoration: none;
  color: inherit;
}

.hero__btn:hover {
  background-color: var(--nav-light);
  color: var(--nav-primary);
}

.inquiry {
  padding-block: 3rem;
}

.inquiry__text--title {
  font-weight: 700;
  text-align: center;
}

.inquiry__text--normal {
  margin-bottom: 1rem;
}

.inquiry__input,
.inquiry__textarea {
  padding-block: 0.2em;
  padding-inline: 0.2em 0;

  margin-bottom: 0.75em;
  width: 100%;

  display: block;
}

.inquiry__box {
  width: min(100%, 600px);
  margin-inline: auto;
}

.inquiry__btn {
  outline: none;
  padding: 0.4375em 0.9375em;
  border-radius: 4px;
  border: 1px solid var(--nav-primary);
  background-color: var(--nav-primary);
  color: var(--nav-light);
  transition: all 0.3s ease-out;
}

.inquiry__btn:hover {
  background-color: var(--nav-light);
  color: var(--nav-primary);
  border-color: var(--nav-primary);
}

.inquiry__img {
  margin-bottom: 1em;
}

.inquiry__title {
  margin-bottom: 1em;
}

.inquiry__col--comment {
  margin-block: 2em 0;
}

.book__form--box {
  margin-bottom: 0.9375rem;
  width: 100%;
  height: 50px;
  position: relative;
}

.book__form--box:last-of-type {
  height: auto;
}

.book__form--input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 0.625rem;
  outline: none;
  padding: 0.625rem;
  padding-left: 1rem;
  font-size: 1.1rem;
}

.book__form--label {
  position: absolute;
  top: 12px;
  left: 15px;
  color: var(--nav-dark, black);
  text-transform: capitalize;
  font-size: 1rem;
  transition: top 0.3s;
  padding: 0 5px;
  cursor: text;
  background-color: inherit;
}

.book__form--input:focus ~ .book__form--label,
.book__form--input:not(:placeholder-shown).book__form--input:not(:focus)
  ~ .book__form--label {
  top: -12px;
  background-color: white;
  font-size: 0.9rem;
}

.book__form--input:focus ~ .book__form--label,
.book__form--input:focus {
  border-color: var(--nav-primary);
  color: var(--nav-primary);
}

.footer {
  padding-top: 0;
}

.services {
  background-color: var(--nav-primary);
  color: var(--nav-light);
  padding-block: 2rem;
}

.services__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
}

.services__col {
  background-color: var(--nav-light);
  color: var(--nav-primary);
  padding: 2.5rem 20px 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services__col--title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.services__col--number {
  margin-bottom: 1rem;
  height: 60px;
  width: 60px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  text-align: center;
  background-color: var(--nav-primary);
  color: var(--nav-light);
  font-size: 1.5rem;
  margin-inline: auto;
}

@media all and (min-width: 768px) {
  .services-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

/* GMaps Image */
.mapouter {
  position: relative;
  text-align: right;
  height: min(50vh, 400px);
  width: min(100%, 600px);
}

.gmap_canvas {
  overflow: hidden;
  margin-inline: auto;
  background: none !important;
  height: 100%;
  width: min(100%, 600px);
}

iframe {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.location__info--title {
  font-size: 2rem;
}

.location__info--text {
  font-size: 1.1rem;
}

.location__info {
  text-align: center;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 850px) {
  .location-container {
    display: flex;
    gap: 1.8rem;
    justify-content: space-between;
  }

  .mapouter {
    flex-grow: 1;
    align-self: center;
  }

  .location__info {
    flex-basis: 30%;
    margin-bottom: 0;
    align-self: center;
  }
}

.location {
  padding-block: 2.5rem;
  background-color: var(--nav-primary);
  background-color: #eee;
  color: black;
}

.hero__col img {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.hero__col {
  margin-inline: auto;
  text-align: center;
}

@media all and (min-width: 768px) {
  .hero-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
  }

  .hero__col {
    flex-basis: 100%;
    text-align: left;
  }
}
