.hero,
.match {
  padding-block: 3rem;
}

.match-container {
  margin-top: 1rem;
}

.match-row {
  padding: 25px 30px;
  background-color: var(--nav-primary);
  color: var(--nav-light);
  text-align: center;
  margin-bottom: 1.2rem;
}

.match-title {
  margin-bottom: 1rem;
}

.match-title a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  color: var(--nav-light);
}

.match-title a:hover {
  color: black;
  text-decoration: underline;
}

.match-title span.no-link:hover {
  text-decoration: none;
}

.match-title span.no-link {
  font-weight: normal;
  color: white;
  margin-inline: 0.25rem;
}

.match-time {
  color: var(--nav-light);
}

.match-row__number {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-inline: auto;
  border-radius: 50%;
  background-color: var(--nav-light);
  color: var(--nav-primary);
  display: grid;
  place-content: center;
  margin-bottom: 2rem;
}

.match-row.top {
  transition: all 0.3s;
  cursor: pointer;
}

.match-row.top:hover {
  transform: translateY(-10px);
}

@media all and (min-width: 600px) {
  .match-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .match-row {
    width: calc(100% / 2 - 1.25rem);
  }

  .match-row.top {
    width: auto;
  }
}

.footer {
  background-color: black;
  color: white;
  padding-block: 1rem;
}

.footer__text {
  text-align: center;
  font-size: 1.1rem;
}
